<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Get your greeting <a href="/greeting">here</a></p>
    <p>PetsController</p>
    <code>
    import com.example.demo.models.Pets;
    import com.example.demo.repositories.PetsRepository;
    import org.bson.types.ObjectId;
    import org.springframework.beans.factory.annotation.Autowired;
    import org.springframework.web.bind.annotation.*;

    import javax.validation.Valid;
    import java.util.List;

    @RestController
    public class PetsController {
        @Autowired
        private PetsRepository repository;

        @RequestMapping(value = "/pets", method = RequestMethod.GET)
        public List<Pets> getAllPets() {
            return repository.findAll();
        }

        @RequestMapping(value = "/pets/{id}", method = RequestMethod.GET)
        public Pets getPetById(@PathVariable("id") ObjectId id) {
            return repository.findBy_id(id);
        }

        @RequestMapping(value = "/pets/{id}", method = RequestMethod.PUT)
        public void modifyPetById(@PathVariable("id") ObjectId id, @Valid @RequestBody Pets pets) {
            pets.set_id(id);
            repository.save(pets);
        }

        @RequestMapping(value = "/pets", method = RequestMethod.POST)
        public Pets createPet(@Valid @RequestBody Pets pets) {
            pets.set_id(ObjectId.get());
            repository.save(pets);
            return pets;
        }

        @RequestMapping(value = "/pets/{id}", method = RequestMethod.DELETE)
        public void deletePet(@PathVariable ObjectId id) {
            repository.delete(repository.findBy_id(id));
        }
    }
    </code>
  
    <p>PetsRepository</p>
    <code>
    import com.example.demo.models.Pets;
    import org.bson.types.ObjectId;
    import org.springframework.data.mongodb.repository.MongoRepository;

    public interface PetsRepository extends MongoRepository<Pets, String> {
        Pets findBy_id(ObjectId _id);
    }
    </code>
    
    <p>Pets</p>
    <code>
    import org.bson.types.ObjectId;
    import org.springframework.data.annotation.Id;

    public class Pets {
        @Id
        public ObjectId _id;
        public String name;
        public String species;
        public String breed;

        public Pets() {}

        public Pets(ObjectId _id, String name, String species, String breed) {
            this._id = _id;
            this.name = name;
            this.species = species;
            this.breed = breed;
        }

        public ObjectId get_id() {
            return _id;
        }

        public void set_id(ObjectId _id) {
            this._id = _id;
        }

        public String getName() {
            return name;
        }

        public void setName(String name) {
            this.name = name;
        }

        public String getSpecies() {
            return species;
        }

        public void setSpecies(String species) {
            this.species = species;
        }

        public String getBreed() {
            return breed;
        }

        public void setBreed(String breed) {
            this.breed = breed;
        }
    }
    </code>
    
    <p>application.properties</p>
    <code>
    spring.data.mongodb.host=localhost
    spring.data.mongodb.port=27017
    spring.data.mongodb.database=rest_tutorial
    </code>
</body>
</html>
